/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f9f9f9;
}

.about-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

p {
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Intro Section Styles */
.intro {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.company-name {
    font-weight: bold;
    color: #007bff; /* Blue color for company name */
}

/* Members Section Styles */
.members {
    margin-bottom: 30px;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team-photo {
    width: 100px; /* Adjust the width of the team member photos */
    height: 100px; /* Adjust the height of the team member photos */
    border-radius: 50%; /* Make the photos circular */
    margin-right: 20px; /* Adjust the spacing between photo and description */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

.member-description {
    flex: 1;
}

.member-description strong {
    color: #007bff; /* Blue color for member names */
}

/* Values Section Styles */
.values {
    margin-bottom: 30px;
}

.values ul {
    padding-left: 20px;
}

.values li {
    margin-bottom: 10px;
}

.values li strong {
    color: #007bff; /* Blue color for value titles */
}
